@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;500;600&family=Playfair+Display&display=swap');

@keyframes moving{ 
    0%{right:5%;bottom: 4%;}
    100%{right:7%;bottom: 4%;}
}
.container-fluid{
    background-color: #FFF7EE;
} 
.container-sm{
    background-color: #FFF7EE;
    margin-bottom: 100px;
}
.container{
    background-color: #FFF7EE;
}
/* menu */
.hide{
    display:none;
}
.check_box{
    position: absolute;
    top: 0;
    left: 0;
}
.menu{
    font-family: 'Poiret One', cursive;
    font-size: 9px;
    color: #F2FAFF;
    position: absolute;
    top: 3%;
    right: 3%;
    transition: 1s;
    z-index: 100;
}
.menu:hover{
    color: #F2FAFF;
    transform: scale(1.1);
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hamburger{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:#474646ce;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
.ham_a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Noto Serif TC', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2em;
    letter-spacing: 0.3em;
    transition: 0.5s;
}
.ham_a:hover{
    text-align: center;
    color: #e6e3e3;
    letter-spacing: 0.8em;
}
.ham_item{
    font-family: 'Noto Serif TC', serif;
    color: #e6e3e3;
}
.this_ham{
    text-decoration: underline;
}
.hamburger{
   opacity: 0;
   transform: translateY(-100%);
   transition: 2s; 
}
#menu-switcher:checked ~ .hamburger {
    transform: translateX(0%);
    opacity: 1;
}
#menu-switcher {
    display: none;
}
/* menu */
@media (max-width:730px){
    .hide{
        display: block;
    }
}

header{
    display: flex;
    flex-direction: column;
    height: 854px;
    background-image: url(../img/tips/img_tips1.png);
    background-repeat: no-repeat;
    /* background-attachment:fixed; */
    background-size: cover;
    background-position: center center;
    
}
.fixed{
    position: relative;
}
button{
    border: none;
    background-color: Transparent;;
}
.back-to-top {
    display: none; /* 默認是隱藏的，這樣在第一屏才不顯示 */
    position: fixed; /* 位置是固定的 */
    bottom: 20px; /* 顯示在頁面底部 */
    right: 30px; /* 顯示在頁面的右邊 */
    z-index: 99; /* 確保不被其他功能覆蓋 */
}
@media (max-width:768px){
    .back-to-top{
        transform: scale(0.8);
    }
}
@media (max-width:556px){
    .back-to-top{
        transform: scale(0.6);
    }
}
@media (max-width:320px){
    .back-to-top{
        transform: scale(0.4);
    }
}
.top{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    gap: 20px;
    position: absolute;
    right: 0;
}
.navitem{
    height: 30px;
    text-decoration: none;
    text-align: center;
    font-family: 'Noto Serif TC', serif;
    font-size: 24px;
    letter-spacing:8px;
    color: #F2FAFF;
}
.navitem:hover{
    color: #c8d0d4;
}
.navitem:focus{
    transform: scale(1.2);
    background-color: #f2faff7c;
}
@media (max-width:824px){
    .navitem{
        height: 16px;
        font-size: 10px;
    }
    .dot{
       transform: scale(0.5);
    }
    .logo{
        transform: scale(0.7);
    }
}
@media (max-width:768px){
    .navitem{
        height: 16px;
        font-size: 18px;
    }
    .dot{
       transform: scale(0.3);
    }
    .logo{
        transform: scale(0.5);
    }
}
@media (max-width:730px){
    .hide2{
        display: none;
    }
    .logo{
        transform: scale(0.3);
    }
}
@media (max-width:320px){
    .hide2{
        display: none;
    }
    .a_logo{
        transform: scale(0.3);
    }
    .logo{
        transform: scale(0.2);
    }
}
.this_page{
    text-decoration: underline;
}
.dot{
    display: flex;
    justify-content: center;
}
.img_dot{
    width: 20%;
    height: 20%;   
}
.title_part{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    left: 0px;
    top: 50%;
}
.title{
    width: 25px;
    margin:5% 3% 0 0;
    font-family: 'Noto Serif TC', serif;
    font-size: 25px;
    font-weight: 400;
    color: #e7e6e6;
    line-height: 160%;
}
.tips_line{
    background-color:#e7e6e6;
    width: 266px;
    height: 1px;
}
@media (max-width:768px){
    .title{
        font-size: 18px;
    }
    .tips_line{
        width: 135px;
    }
}
@media (max-width:320px){
    .title{
        font-size: 10px;
    }
    .tips_line{
        width: 56px;
    }
}
/* seemore */
.seemore{
    position: absolute;
    right: 5%;
    bottom: 4%;
    transition: 1s;
}
.seemore:hover{
    transform: scale(1.2);
    animation-name: moving;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}
.seemore_word{
    text-decoration: none;
    display: inline-flex;
    font-family: 'Noto Serif TC', serif;
    font-size: 18px;
    font-weight: 400;
    color: #e7e6e6;
    letter-spacing:3px; 
    border-width:1px;
    border-style: solid;
    border-color: #e7e6e600;
    transition: 1s;
}
.seemore_word:hover{
    border-width:1px;
    border-style: solid;
    border-color: #e7e6e6;
    color: #e7e6e6;
}
@media (max-width:768px){
    .seemore_word{
        font-size: 14px;
    }
    .seemore_word{
        transform: scale(0.8);
    }
}
@media (max-width:320px){
   .seemore_word{
        font-size: 10px;
    }
    .seemore_word{
        transform: scale(0.6);
    }
}
/* seemore */

.tips_word{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding:7em 0;
    margin: 0 0;
    font-family: 'Noto Serif TC', serif;
    color: #616568;
}
.tips_title{
    font-size: 24px;
    font-weight: 600;
}
.tips_small_word{
    font-size: 18px;
    font-weight: 400;
}
ol.tips_list{
    margin: 0;
}
.arrow{
    display: inline-flex;
    justify-content: flex-end;
}
.img_arrow{
    transition: 1s;
}
.img_arrow:hover{
    transform: rotate(360deg);
}
.split_line{
    width: 100%;
    height: 2px;
    background-color: #61656885;
}
@media (max-width:768px){
    .tips_title{
        font-size: 16px;
        font-weight: 600;
    }
    .tips_small_word{
        font-size: 10px;
        font-weight: 400;
    }
    .img_arrow{
        transform: scale(0.8);
    }
}
@media (max-width:320px){
    .tips_title{
        font-size: 11px;
        font-weight: 600;
    }
    .tips_small_word{
       display: none;
    }
    .img_arrow{
        transform: scale(0.6);
    }
}

/* fixed2 */
.fixed2{
    display: flex;
    flex-direction: column;
    height: 854px;
    background-image: url(../img/tips/img_tips2.png);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.title_part2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    right: 0px;
    top: 50%;
}
.title2{
    width: 25px;
    margin:5% 3% 0 0;
    font-family: 'Noto Serif TC', serif;
    font-size: 25px;
    font-weight: 400;
    color: #e7e6e6;
    line-height: 160%;
}
.tips_line2{
    background-color:#e7e6e6;
    width: 266px;
    height: 1px;
}
@media (max-width:768px){
    .title2{
        font-size: 18px;
    }
    .tips_line2{
        width: 135px;
    }
}
@media (max-width:320px){
    .title2{
        font-size: 10px;
    }
    .tips_line2{
        width: 56px;
    }
}
/* fixed3 */
.fixed3{
    display: flex;
    flex-direction: column;
    height: 854px;
    background-image: url(../img/tips/img_tips3.png);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.title_part3{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    left: 0px;
    top: 50%;
}
.title3{
    width: 25px;
    margin:5% 3% 0 0;
    font-family: 'Noto Serif TC', serif;
    font-size: 25px;
    font-weight: 400;
    color: #e7e6e6;
    line-height: 160%;
}
.tips_line3{
    background-color:#e7e6e6;
    width: 266px;
    height: 1px;
}
@media (max-width:768px){
    .title3{
        font-size: 18px;
    }
    .tips_line3{
        width: 135px;
    }
}
@media (max-width:320px){
    .title3{
        font-size: 10px;
    }
    .tips_line3{
        width: 56px;
    }
}
/* footer */
footer{
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D0C9C1;
    margin-top: -100px;
    position: relative;
}
.gap{
    width: 100%;
    height: 100px;
    background-color: #FFF7EE;
    position: absolute;
    top:0;
}
.footer_word{
    font-family: 'Playfair Display', serif;
    font-size: 11px;
    color: #FFFFFF;
}
.icon{
    display: flex;
}
.ig{
    text-decoration: none;
    height:30px;
    width: 30px;
    margin: 10px;
}
@media (max-width:768px){
    .gap{
        height: 80px;
    }
    .icon{
        transform: scale(0.8);
    }
    .footer_word{
        font-size: 10px;
    }
    .footer_logo{
        transform: scale(0.8);
    }
}
@media (max-width:320px){
    .gap{
        height: 40px;
    }
    .icon{
        transform: scale(0.6);
    }
    .footer_word{
        font-size: 10px;
    }
    .footer_logo{
        transform: scale(0.6);
    }
}
